USE [MVCminiProject]
GO
/****** Object:  Table [dbo].[tblCity]    Script Date: 1/29/2023 5:52:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCity](
	[CityId] [int] NOT NULL,
	[StateId] [int] NULL,
	[CityName] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblCity] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCountry]    Script Date: 1/29/2023 5:52:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCountry](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblState]    Script Date: 1/29/2023 5:52:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblState](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NULL,
	[StateName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tblCity] ([CityId], [StateId], [CityName]) VALUES (1, 1, N'Anantapur')
INSERT [dbo].[tblCity] ([CityId], [StateId], [CityName]) VALUES (2, 1, N'Chittoor')
INSERT [dbo].[tblCity] ([CityId], [StateId], [CityName]) VALUES (3, 1, N'Cuddapah')
GO
SET IDENTITY_INSERT [dbo].[tblCountry] ON 

INSERT [dbo].[tblCountry] ([CountryId], [CountryName]) VALUES (1, N'India')
INSERT [dbo].[tblCountry] ([CountryId], [CountryName]) VALUES (2, N'USA')
INSERT [dbo].[tblCountry] ([CountryId], [CountryName]) VALUES (3, N'UK')
SET IDENTITY_INSERT [dbo].[tblCountry] OFF
GO
SET IDENTITY_INSERT [dbo].[tblState] ON 

INSERT [dbo].[tblState] ([StateId], [CountryId], [StateName]) VALUES (1, 1, N'Andra Pradesh')
INSERT [dbo].[tblState] ([StateId], [CountryId], [StateName]) VALUES (2, 1, N'Arunachal Pradesh')
INSERT [dbo].[tblState] ([StateId], [CountryId], [StateName]) VALUES (3, 1, N'Assam')
SET IDENTITY_INSERT [dbo].[tblState] OFF
GO
